header nav ul li img{
    width: 250px;
    height: 100px;
}


nav ul li{
    display: inline-block;
    margin-right: 100px;
}

header,footer{
    background-color: rgb(10, 162, 250);
     margin: 0px;
}
main{
    background-color: rgb(255, 255, 255);
    margin: 0px;

}

th{
    padding: 20px;
    margin: 0px;
    border: 1px solid rgb(7, 7, 7);
}
td{
padding: 20px;
text-align: center;
border: 1px solid rgb(205, 6, 245);
}
table{
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
    margin: 0px;
}